@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
::placeholder{
  font-family: 'Montserrat', sans-serif;

}

.header{
  text-align: center;
  padding: 2rem;
  background-color: #f5e050;
  margin-top: 0.5rem;
}
  textarea{
    display: block;
    margin: auto;
    width: 50%;
    height:10vh;
    padding: 1rem;
  }
#output{
  border: solid 5px;
  border-style: solid;
  display: block;
  width: 50%;
  height:10vh;
  margin: auto;
  padding: 1rem;
  margin-bottom: 5rem;
}
#btn-translate{
  font-family:'Montserrat', sans-serif ;
  display: block;
  background-color: #f5e050;
  text-align: center;
  padding: 0.5rem;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.output-text{
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  
}
.footer{
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #f5e050;
  padding: 1rem;
}
